<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <button (click)="bombArray()">Make BombArray</button>
<br><br>

  <table *ngIf="myshow" id="c">
      <tr>
        <td (click)="testIt(myarray[0])"><span>{{myarray[0]}}</span></td>
        <td (click)="testIt(myarray[1])"><span>{{myarray[1]}}</span></td>
        <td (click)="testIt(myarray[2])"><span>{{myarray[2]}}</span></td>
        <td (click)="testIt(myarray[3])"><span>{{myarray[3]}}</span></td>
        <td (click)="testIt(myarray[4])"><span>{{myarray[4]}}</span></td>
        <td (click)="testIt(myarray[5])"><span>{{myarray[5]}}</span></td>
        <td (click)="testIt(myarray[6])"><span>{{myarray[6]}}</span></td>
        <td (click)="testIt(myarray[7])"><span>{{myarray[7]}}</span></td>
      </tr>

      <tr>
        <td><span>{{myarray[8]}}</span></td>
        <td ><span>{{myarray[9]}}</span></td>
        <td><span>{{myarray[10]}}</span></td>
        <td><span>{{myarray[11]}}</span></td>
        <td><span>{{myarray[12]}}</span></td>
        <td><span>{{myarray[13]}}</span></td>
        <td><span>{{myarray[14]}}</span></td>
        <td><span>{{myarray[15]}}</span></td>
      </tr>

      <tr>
        <td><span>{{myarray[16]}}</span></td>
        <td><span>{{myarray[17]}}</span></td>
        <td><span>{{myarray[18]}}</span></td>
        <td><span>{{myarray[19]}}</span></td>
        <td><span>{{myarray[20]}}</span></td>
        <td><span>{{myarray[21]}}</span></td>
        <td><span>{{myarray[22]}}</span></td>
        <td><span>{{myarray[23]}}</span></td>

      </tr>
      <tr>
        <td><span>{{myarray[24]}}</span></td>
        <td><span>{{myarray[25]}}</span></td>
        <td><span>{{myarray[26]}}</span></td>
        <td><span>{{myarray[27]}}</span></td>
        <td><span>{{myarray[28]}}</span></td>
        <td><span>{{myarray[29]}}</span></td>
        <td><span>{{myarray[30]}}</span></td>
        <td><span>{{myarray[31]}}</span></td>

      </tr>

      <tr>
        <td><span>{{myarray[32]}}</span></td>
        <td><span>{{myarray[33]}}</span></td>
        <td><span>{{myarray[34]}}</span></td>
        <td><span>{{myarray[35]}}</span></td>
        <td><span>{{myarray[36]}}</span></td>
        <td><span>{{myarray[37]}}</span></td>
        <td><span>{{myarray[38]}}</span></td>
        <td><span>{{myarray[39]}}</span></td>

      </tr>

      <tr>
        <td><span>{{myarray[40]}}</span></td>
        <td><span>{{myarray[41]}}</span></td>
        <td><span>{{myarray[42]}}</span></td>
        <td><span>{{myarray[43]}}</span></td>
        <td><span>{{myarray[44]}}</span></td>
        <td><span>{{myarray[45]}}</span></td>
        <td><span>{{myarray[46]}}</span></td>
        <td><span>{{myarray[47]}}</span></td>

      </tr>

      <tr>
        <td><span>{{myarray[48]}}</span></td>
        <td><span>{{myarray[49]}}</span></td>
        <td><span>{{myarray[50]}}</span></td>
        <td><span>{{myarray[51]}}</span></td>
        <td><span>{{myarray[52]}}</span></td>
        <td><span>{{myarray[53]}}</span></td>
        <td><span>{{myarray[54]}}</span></td>
        <td><span>{{myarray[55]}}</span></td>

      </tr>

      <tr>
        <td><span>{{myarray[56]}}</span></td>
        <td><span>{{myarray[57]}}</span></td>
        <td><span>{{myarray[58]}}</span></td>
        <td><span>{{myarray[59]}}</span></td>
        <td><span>{{myarray[60]}}</span></td>
        <td><span>{{myarray[61]}}</span></td>
        <td><span>{{myarray[62]}}</span></td>
        <td><span>{{myarray[63]}}</span></td>

      </tr>
    </table>
